@using SegundoParcial.ViewModels;
@model AreaViewModel;

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="row">
    <form method="get" asp-action="Index" asp-controller="Area">
        <div class="col-6 form-group">
            <input class="form-control" asp-for="NameFilter" >
        </div>
        <br>
        <button class="btn btn-primary" type="submit"> Buscar </button>
    </form>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Depositos)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Areas)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
               
                <td>
                <ol>
                    @foreach (var depo in item.Depositos)
                    {
                        <li>@depo.Nombre</li>
                    }
                </ol>
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
